.Container {
  display: flex;
  flex: auto;
  align-items: center;
  //background-color: black;
  height: var(--navbar-height);
}

.Menu {
  //display: flex;
  flex: auto;
  min-width: 0;
  padding: 12px;
  margin-left: 16px;
  height: var(--navbar-height);
}